<div class="text-end mt-4">
<%= link_to "Book #{@pet.name}", new_pet_reservation_path(@pet), class: "btn btn-primary" %>
<%= link_to "All Pets", pets_path, class: "btn btn-success" %>
<%= link_to "Delete #{@pet.name}", pet_path(@pet), method: :delete, data: { confirm: 'Are you sure you want to delete this pet?' }, class: "btn btn-danger" %>
</div>

<div class="container mt-5 d-flex justify-content-center">
  <div class="text-start">
    <img src="<%= @pet.image_url || 'https://place.dog/300/200' %>" class="img-fluid mb-3 rounded mx-auto d-block" alt="<%= @pet.name %>">
    <ul class="list-unstyled">
      <h1><%= @pet.name %></h1>
      <li>Description:<%= @pet.description %></li>
      <li>Breed:<%= @pet.breed %></li>
      <li>Address:<%= @pet.address %></li>
      <div class="text-center">
      <%= link_to "Messege Owner", "#", class: "btn btn-success mt-2" %>
      </div>
    </ul>
  </div>
</div>
