<!DOCTYPE html>
<html>
  <head>
  <%= csrf_meta_tags %>
    <title><%= content_for(:title) || "Petbnb" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

<body>

  <%= render "shared/navbar" %>

  <div class="mt-4 me-4">
    <% if user_signed_in? %>
  <h6 class="text-end"><i class="fa-solid fa-house-user"></i> : <%= current_user.email %></h6>
  </div>

  <div class="container">
    <% end %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </div>

</body>
</html>
